footer {
    position: relative;
    padding: 30px 0 50px 0;

    .container {
        display: flex;
        justify-content: space-between;
        gap: 50px;
        align-items: flex-start;

        .left-cont {

            .logo-desc {
                margin-top: 10px;
                font-family: $f-m;
                font-size: 16px;
                width: 13em;
                color: rgba($color: $clr-main, $alpha: .5);
            }
        }

        .right-cont {
            display: flex;
            gap: 40px;
            align-items: flex-start;

            &-col {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 4px;

                &-title {
                    @extend %text_body3;
                    color: $clr-grey;
                }

                &-link {

                    @extend %text_body1;
                    color: $clr-main;
                }
            }
        }
    }
}