header {
    position: fixed;
    width: 100%;
    transition: all .3s ease-in-out;
    top: 0;
    z-index: 1000;
    border-bottom: 1px solid rgba($color: $clr-main, $alpha: .25);
    padding: 16px;
    background: #fff;
    &.hide {
        top: -69px;
    }

    * {
        transition: all .3s ease-in-out;
    }

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 20px;
        font-family: $f-m;

        .left-menu {
            display: flex;
            align-items: center;
            gap: 12px;
            color: $clr-main;
            .logo {
                font-size: 24px;
            }
            .menu-links {
                position: relative;
                display: flex;
                align-items: center;
                gap: 12px;
                &::before, &::after {
                    content: '';
                    width: 1px;
                    height: 16px;
                    background: $clr-greytext2;
                }
            }
            .header-tel {
                position: relative;
                display: flex;
                align-items: center;
                &::after {
                    content: url('data:image/svg+xml,<svg width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="4" cy="4" r="4" fill="%2355CD6C"/></svg>');
                    width: 8px;
                    height: 8px;
                    position: absolute;
                    top: -10px;
                    right: -6px;
                }
                svg {
                    margin-right: 6px;
                }
            }
        }

        .right-menu {
            display: flex;
            align-items: center;
            gap: 12px;
            &>* {
                display: flex;
                align-items: center;
                gap: 6px;
                &:first-child {
                    &::after {
                        content: '';
                        width: 1px;
                        height: 16px;
                        background: $clr-greytext2;
                        margin-left: 12px;
                    }
                }
            }
            .cart {
                color: $clr-main !important;
                position: relative;
                &::before {
                    content: url('data:image/svg+xml,<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(%23clip0_3475_14)"><path d="M9.92539 -0.000165759C9.60039 0.0248342 9.27539 0.199834 9.07539 0.474834L3.22539 7.49983H0.0253906V9.99983H2.52539V19.1498C2.52539 19.5998 2.92539 19.9998 3.37539 19.9998H16.6504C17.1004 19.9998 17.5004 19.5998 17.5004 19.1498V9.99983H20.0004V7.49983H16.8004C16.1254 6.67483 10.8254 0.349834 10.7754 0.299834C10.5004 0.0748342 10.2254 -0.0501658 9.92539 -0.0251658V-0.000165759ZM10.0004 3.19983L13.6004 7.49983H6.40039L10.0004 3.19983ZM6.25039 12.4998C6.95039 12.4998 7.50039 13.0498 7.50039 13.7498V16.2498C7.50039 16.9498 6.95039 17.4998 6.25039 17.4998C5.55039 17.4998 5.00039 16.9498 5.00039 16.2498V13.7498C5.00039 13.0498 5.55039 12.4998 6.25039 12.4998ZM13.7504 12.4998C14.4504 12.4998 15.0004 13.0498 15.0004 13.7498V16.2498C15.0004 16.9498 14.4504 17.4998 13.7504 17.4998C13.0504 17.4998 12.5004 16.9498 12.5004 16.2498V13.7498C12.5004 13.0498 13.0504 12.4998 13.7504 12.4998Z" fill="%23413E37" /></g><defs><clipPath id="clip0_3475_14"><rect width="20" height="20" fill="white" /></clipPath></defs></svg>');

                }
            }
            .log-in {
                color: $clr-main !important;
                position: relative;
                &::before {
                    content: url('data:image/svg+xml,<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9.16602 5.83333L7.99935 7L10.166 9.16667H1.66602V10.8333H10.166L7.99935 13L9.16602 14.1667L13.3327 10L9.16602 5.83333ZM16.666 15.8333H9.99935V17.5H16.666C17.5827 17.5 18.3327 16.75 18.3327 15.8333V4.16667C18.3327 3.25 17.5827 2.5 16.666 2.5H9.99935V4.16667H16.666V15.8333Z" fill="%23413E37" /></svg>');
                    width: 20px;
                    height: 20px;
                }
            }
        }
    }
}