header {
    position: fixed;
    width: 100%;
    transition: all .3s ease-in-out;
    top: 0;
    z-index: 1000;
    background: $clr-bg;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    font-family: $f-m;
    padding: 25px 20px;
    &.hide {
        top: -115px;
    }

    &.active {
        border-bottom: 1px solid $clr-border
    }

    * {
        transition: all .3s ease-in-out;
    }
    .left-menu {
        display: flex;
        align-items: center;
        gap: 32px;
        color: $clr-grey;


        .menu-links {
            position: relative;
            display: flex;
            align-items: center;
            gap: 32px;
            a {
                &:hover {
                    color: $clr-black;
                }
            }
            &::before {
                content: '';
                width: 1px;
                height: 28px;
                background: #DBD1E0;
            }
        }
    }
}