
#main-page_front {
	height: 100svh;
	padding-top: 110px;
	background: $clr-grey;

	position: relative;

	.container {
		position: relative;
		height: 100%;
	}

	h1 {
		width: 12em;
	}

	.mp_front-desc {
		@extend %text_body1;
		color: $clr-main;
		background-color: #ECE8DE;
		padding: .5em;
		border-radius: 3.2em;
		position: relative;
		display: inline-flex;
		align-items: center;

		&::before {
			content: url('data:image/svg+xml,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M18.6488 2.84994L19.2588 6.70994L22.7688 8.49994L20.9988 11.9999L22.7788 15.4999L19.2388 17.2899L18.6287 21.1499L14.7387 20.5399L11.9688 23.2999L9.18875 20.4999L5.32875 21.1399L4.70875 17.2499L1.21875 15.4699L2.99875 11.9699L1.22875 8.49994L4.73875 6.68994L5.34875 2.85994L9.21875 3.49994L11.9987 0.689941L14.7688 3.45994L18.6488 2.84994ZM9.49875 6.99994C9.10092 6.99994 8.71939 7.15798 8.43809 7.43928C8.15679 7.72059 7.99875 8.10212 7.99875 8.49994C7.99875 8.89777 8.15679 9.2793 8.43809 9.5606C8.71939 9.84191 9.10092 9.99994 9.49875 9.99994C9.89657 9.99994 10.2781 9.84191 10.5594 9.5606C10.8407 9.2793 10.9987 8.89777 10.9987 8.49994C10.9987 8.10212 10.8407 7.72059 10.5594 7.43928C10.2781 7.15798 9.89657 6.99994 9.49875 6.99994ZM14.4987 13.9999C14.1009 13.9999 13.7194 14.158 13.4381 14.4393C13.1568 14.7206 12.9987 15.1021 12.9987 15.4999C12.9987 15.8978 13.1568 16.2793 13.4381 16.5606C13.7194 16.8419 14.1009 16.9999 14.4987 16.9999C14.8966 16.9999 15.2781 16.8419 15.5594 16.5606C15.8407 16.2793 15.9987 15.8978 15.9987 15.4999C15.9987 15.1021 15.8407 14.7206 15.5594 14.4393C15.2781 14.158 14.8966 13.9999 14.4987 13.9999ZM8.40875 16.9999L16.9987 8.40994L15.5887 6.99994L6.99875 15.5899L8.40875 16.9999Z" fill="%23413E37"/></svg>');
			width: 24px;
			height: 24px;
			margin-right: 10px;
		}
	}

	.main-btn {
		position: absolute;
		left: calc(var(--bs-gutter-x) * .5);
		bottom: 60px;
	}

	img {
		position: absolute;
		bottom: 0;
		right: 0;
	}
}